@import 'main';

$li-hover-trans-time: .3s;

header em {
  display:block;
  margin: 0 20px;
}

main {
  margin: 2em 4em;
}

section {
  position: relative;
  padding-left: 2.2em;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 50%;
    margin-top: .15em;
  }

  h2 {
    margin-bottom: .2em;
  }

  p {
    margin: 0;
    font-size: .9em;
  }

  ul {
    padding: 0 30px;
    font-family: $font-sans;
    font-size: .9em;
  }

  li {
    margin: .5em 0;
    transition: color $li-hover-trans-time, transform $li-hover-trans-time;
  }

  a {
    color: white;
    text-decoration: none;

    transition: color $li-hover-trans-time;
  }

  li:hover {
    color: #ffab40;
    transform: translateX(5px);

    a {
      color: #80d8ff;
    }
  }
}

footer {
  margin-top: 6em;
  color: #aaa;
  font-size: .8em;
  text-align: center;

  ul {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  li {
    list-style-type: none;
    padding: 0 8px;
  }
  a {
    font-family: $font-sans;
    color: white;
    text-decoration: none;

    transition: color .2s;
    &:hover {
      color: #80d8ff;
    }
  }
  blockquote {
    margin: 0;
    font-style: italic;
  }
}
