$font-sans: 'Proza Libre', sans-serif;
$font-serif: 'Eczar', serif;

body {
  background-color: black;
  color: #ddd;
  font-family: $font-serif;
}

h1, h2 {
  font-family: $font-sans;
  font-weight: normal;
}
