---
article: Implementing 1D FEM
section: Obtaining the B matrix
---
<p>
  As we have seen the elements of the $\bm{B}$ matrix can be defined as:

  $$B_{ij} = \int_a^b \beta\,\phi_j'\,\phi_i\;dx$$
</p>
<blockquote>
  In order to simplify our calculations <strong>we will consider only the case $\bold{\beta = 1}$</strong>,
  since it is the only case required by the course exercises for now.
</blockquote>

<p>
  Remembering the shapes of $\bluehl{\phi(x)}$ and $\redhl{\phi'(x)}$…
</p>
<div class="imgh">{% include 1d-fem/plot-phi-phi-prime.svg %}</div>

<p>
  …we can start to calculate $\bm{B}$ for the case $\dredhl{i} = \dredhl{j}$:

  $$
  \def\inth{\int_{x_i-h}^{x_i+h}}
  B_{ii} = \inth \redhl{\phi_i'}\,\bluehl{\phi_i}\,dx = 0
  $$
</p>
<div class="imgh">{% include 1d-fem/plot-b-mul-ij.svg %}</div>

<p>
  For the case $\dredhl{i} = \dredhl{j}\pm1$ instead we have:

  $$
  \def\inth{\int_{x_i-h}^{x_i+h}}
  B_{ij} = \inth \redhl{\phi_i'}\,\bluehl{\phi_j}\,dx = \frac{1}{\cancel{h}} \cancel{h} \cdot
  \begin{cases}
    \tealhl{+\frac{1}{2}} &amp; \text{for } \tealhl{j = i + 1}
  \\
    \purplehl{-\frac{1}{2}} &amp; \text{for } \purplehl{j = i - 1}
  \end{cases}
  $$
</p>
<div class="imgh">{% include 1d-fem/plot-b-mul-ij-plus.svg %}</div>
<div class="imgh">{% include 1d-fem/plot-b-mul-ij-minus.svg %}</div>

<p>
  We can finally determine the structure of the $\bm{B}$ matrix — stating easily that $B_{ij} = 0$
  for any other value of $i$ and $j$.

  $$\bm{B} = \frac{1}{2} \begin{pmatrix}
  0&amp;1&amp;&amp;&amp;&amp;\\
  -1&amp;0&amp;1&amp;&amp;&amp;\\
  &amp;-1&amp;0&amp;1&amp;&amp;\\
  &amp;&amp;&amp;&amp;\ddots&amp;-1\\
  &amp;&amp;&amp;&amp;-1&amp;0
  \end{pmatrix}
  \quad \text{for } \beta = 1$$
</p>
